
*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


h3{
  font-size: 60px;
  color: blue;
  text-shadow: 3px 3px 3px  red;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
h3:hover{
  font-size: 60px;
  color: rgb(255, 0, 0);
  text-shadow: 3px 3px 3px  rgb(55, 0, 255);

  transition: 2s;
}
body{
  background-color: rgb(25, 0, 19);
}

input{
 color: #e30000;
 border-radius: 5px;
 border: 5px;
 margin-top: 20px;
 margin-bottom: 20px;
background-color: #4ea9f2;
}
button{
  height: 35px;
  width: 220px;
  color: #010101;
  background-color: #08ff29;
  border-color: blue;
}
button:hover{
  height: 35px;
  width: 220px;
  color: #ffffff;
  background-color: blue;
  border-color: #08ff29;
}
h5{
  font-size: 20px;
  color: rgb(54, 201, 0);
  margin-top: 10px;
  margin-bottom: 10px;
}
h5:hover{
  color: rgb(225, 255, 0);
}
.esas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.qiymetler{
  margin-left: 10px;
}
h4{
  font-size: 20px;
  color: aqua;
}